<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidlearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntentDemo" />
        <activity android:name=".IntentDemoActivity2" />
        <activity android:name=".ServiceDemo" />
        <activity android:name=".FragmentsDemo" />
        <activity android:name=".RecyclerViewDemo" />
        <activity android:name=".ViewPagerDemo" />
        <activity android:name=".ViewPager2Demo" />
        <activity android:name=".BottomSheetDemo" />
        <activity android:name=".OkHttpAndThreadingDemo" />
        <activity android:name=".RetrofitDemo" />
        <activity android:name=".BroadcastReceiverDemo" />
        <activity android:name=".RxJava" />
        <activity android:name=".Dagger2Demo" />


        <service android:name=".ServiceDemoMyService" />
    </application>

</manifest>